page-home {
    ion-slides{
        margin-top: px2rem(10px);
        width: px2rem(720px);
        height: px2rem(280px);    
    }
    
    .swiper-slide{
        img{
            width: px2rem(720px);
            max-width: px2rem(720px);
            height: px2rem(280px);
            max-height: px2rem(280px);
        }
    }

    
    
}
