@function px2rem($px) {
    $rem: 72px;
    @return ($px / $rem) + rem;
}

$offset: 30px;

ol, ul, li, p{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

ion-header{
    padding-top: px2rem(40px) !important;
    padding-bottom: px2rem(32px) !important;
}

.toolbar-title-ios{
    // padding-top: px2rem(40px) !important;
    // padding-bottom: px2rem(32px) !important;
    font-size: px2rem(32px) !important;
}

.header-ios .toolbar-background-ios{
    background-color: transparent !important;
    border:0 !important;
}

.footer-ios .toolbar-background-ios{
    background-color: transparent !important;
    border:0 !important;
}

ion-searchbar{
    width:100% !important;
    font-size: px2rem(22px) !important;
    height: px2rem(54px) !important;
}

.searchbar-ios {
    min-height: px2rem(44px) !important;
    padding:0 !important;
    padding-left: px2rem($offset) !important;
    padding-right: px2rem($offset) !important;
    background: rgba(0, 0, 0, 0) !important;
    border: 0 solid !important;
    .searchbar-input{
        color: #9b9b9b;
        border-radius:0 !important;
        font-size: px2rem(22px) !important;
        height: px2rem(54px) !important;
        background: rgba(0, 0, 0, 0.1) !important;
        padding-left: calc(50% - 50px) ;
    }

    .searchbar-search-icon{
        width: px2rem(28px) !important;
        height: px2rem(28px) !important;
        background-size: px2rem(26px)!important;
        margin-left: calc(50% - 100px);
        left: px2rem(20px) !important;
        top: px2rem(15px) !important;
    }
}

.searchbar-ios.searchbar-left-aligned .searchbar-input{
    padding-left: px2rem(60px) !important;
}


.announcement {
    font-size: px2rem(24px);
    color: #9b9b9b;
    margin-top: px2rem(10px);
    margin-bottom: px2rem(10px);
    .announcement-prefix{
        color: #5276f1;
        height: 100%;
    }
}

ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:px2rem(22px);
    width:px2rem(22px);
}