page-news {
    
.Panel {
	width: 100%;
	max-width: 100%;
	margin: auto;
	margin-top: px2rem(30px);
	margin-bottom: px2rem(40px);
    font-size: px2rem(32px);
	&__body {
		padding: 10px 20px;
	}
}

.Tabs {
	position: relative;
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
	margin: 0;
	padding: 0;
	list-style: none;
	&__tab {
		float: left;
		width: 50%;
		text-align: center;
		color: $default-font-color;
		&:first-child.active ~ .Tabs__presentation-slider {
			left: 0;
		}
		&:nth-child(2).active ~ .Tabs__presentation-slider {
			left: 50%;
		}
	}
	&__presentation-slider {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		height: px2rem(4px);
		background-color: $default-font-color;
		transition: left .25s;
	}
}

.Tab {
	font-family: 'Roboto Slab';
	> a {
		display: block;
		padding: 10px 12px;
		text-decoration: none;
	}
	&.active {
		> a {
			color:$default-font-color !important;
		}
	}
	&:hover {
		> a {
			color:$default-font-color !important;
		}
	}
}
}
